@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}
h1 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.Typist .Cursor {
  display: inline-block;
  color: #37add4;
}

.Typist .Cursor.Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Arrow {
  bottom: -25;
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    bottom: -25;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -25;
  }
}

#___loader img {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
